@model IEnumerable<Carsport.Common.Models.Route>

@{
    ViewBag.Title = "Routes";
}

    <h2>Routes</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Origin.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destiny.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumSeats)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Origin.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destiny.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumSeats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RouteId }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Details", "Details", new { id=item.RouteId }, new { @class = "btn btn-info" })
            @Html.ActionLink("Delete", "Delete", new { id=item.RouteId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
